/* Resets */

html, body{
    height: 100%;
    color: #040404;
    margin: 0;
}

body{
    width:100%;
    padding:0;
    margin: 0;
}

/* Typography */
.content-meta{
    font-family: Georgia, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2em;
    margin-bottom:10px;
}
.sidebar-meta{
    font-size:12px;
    font-style: italic;
    font-weight: 200;
    margin-bottom:5px;
    font-family: Arial, sans-serif;
}

.pagination{
    text-align:right;
    font-family: Georgia, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2em;
    margin-bottom:10px;

}

h1, h2, h3, h4{
    margin-bottom:0px;
}

.container{
    font-weight:400;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1.3em;
}

.nav-label{
    font-weight:600;
}

.filter-dropdown-label{
    font-size:12px;
}

.statistic{
    color: green;
}

.good{
    color: green;
}

.bad{
    color: red;
}

/* Lists */
ul{
    padding-left: 20px;
    margin-top:0px;
}
li{
}
.batch-stats{
    padding-bottom:20px;
}


/* Make table links occupy whole cells */
table tr td a {
    display:block;
    height:100%;
    width:100%;
    text-decoration:none;
    color:#000;
}

table tr td a:visited{
    color:#000;
}

table tr td a:hover{
    color:#fff;
}

th{
    font-size:12px;
    background:#8cd3ed;
    font-weight:1600;
}


/* Base display and structure */
.logo{
    width:271px;
    height:80px;
    margin: 0 auto;
    background:url('../img/logo.png');
}

.container{
    height:100%;
}

.arrow{
    font-size:20px;
}
.content-box{
    width:100%;
    margin: 10px auto;
}
.section{
    margin-top:20px;
}
.chart{
    font-size:14px;
    float:left;
    height:300px;
    margin-right:50px;
}
.chart-container{
    width: 500px;
    height: 300px;
    padding: 0px;
    position: relative;
}
.charts{
    margin:0 auto;
    width:1280px;
}

/* Site table format */
.site-table{
    width:100%;
    font-weight:200;
}

.site-table th{
    text-align: center;
}

.site-table tr:nth-child(2n+1){
    text-align: center;
    background: #d0e8f8;
}

.site-table tr:nth-child(2n){
    text-align: center;
    background: #e9f7fe;
}

.site-table a:hover{
    background:#0078be;
    color:#fff;
    cursor:pointer;
}
.info-table{
    margin-bottom:30px;
}
.site-table .report-link{
    width:300px;
}

/* Dashboard Table format */
.data-display{
    width:100%;
    font-weight:200;
}

.data-display th{
    text-align: center;
}

.data-display tr:nth-child(2n+1){
    text-align: center;
    background: #d0e8f8;
}

.data-display tr:nth-child(2n){
    text-align: center;
    background: #e9f7fe;
}

.data-display tr:hover a{
    background:#0078be;
    color:#fff;
    cursor:pointer;
}

.data-display td{
}

tr .id{
    width:100px;
}

tr .table-header, tr .table-header:hover{
    color:#000;
}

/* No-column style */
.primary-content{
    margin-left:20px;
    margin-right:20px;
}
.primary-column{
    width:1100px;
    margin: 0 auto;
}

/* Left content styles */
.left-content{
 margin-left:20px;
}

.left-column{
    float: left;
    margin-right: -1px;
    width: 26%;
    padding-left:0.1%;
    padding-right:1.1%;
    overflow:hidden;
    background:url('../img/grid.jpg');
}

/* Right content styles */
.right-content{
    margin-left:20px;
    margin-top:15px;
}

.right-column{
    overflow:hidden;
    float: left;
    width: 68.8%;
    height: 100%;
    padding-left:2%;
    padding-right:2%;
    background:#f4f4f4;
    border-left:1px #DDDDDD solid;
}

/* Header style */
.header{
    background:#040404;
    height:30px;
    border-bottom:3px #0078be solid;
}

/* Sticky footer styles */
.footer{
    height: 30px;
    background: #040404;
    opacity:0.8;
    color: #f4f4f4;
    border-top: #0078be 3px solid;
    clear: both;
}

.push{
    height: 33px;
    clear: both;
}

.wrapper{
    min-height: 100%;
    margin: 0 auto -33px;
}
