{% extends "base.html" %}


{% block content %}
<div class="left-column">
    <!-- This div holds the logo -->
    <a href="{% url dashboard %}" style="border:none;"><div class="logo"></div></a>

    <!-- Actual leftside content -->
    <div class="left-content">

        <!-- We can easily add sections to display more scan statistics -->
        <div class="section">
            <label class="nav-label">Aggregate Metrics:</label>
            <ul class="summary">
                <!-- Scan stats -->
                    <li><span class="good">{{ scanned_total }}</span> urls scanned</li>
                    <li><span class={% if css_issues_pctg %}"bad"{% else %}"good"{% endif %}>{{ css_issues_pctg|floatformat:-2 }}</span>% sites had CSS issues</li>
                    <li><span class={% if ua_issues_pctg %}"bad"{% else %}"good"{% endif %}>{{ ua_issues_pctg|floatformat:-2 }}</span>% sites had UA issues</li>
            </ul>

            <label class="nav-label">Since last scan:</label>
            <ul class="summary">
                    <li><span class="good">{{ css_issues_fixed }}</span> CSS issues fixed</li>
                    <li><span class="good">{{ ua_issues_fixed }}</span> UA issues fixed</li>
                    <li><span class="bad">{{ css_issues_regressed }}</span> CSS issues regressed</li>
                    <li><span class="bad">{{ ua_issues_regressed }}</span> UA issues regressed</li>
            </ul>
        </div>

        <label class="nav-label">Sites that were not scraped:</label>
        <div class="urls">
            {% for site in bad_sites %}
            <p><a href="{{ site }}">{{ site }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="right-column">
    <div class="right-content">
        <h2 class="content-title">Batch scanned on {{ finish_time }}</h2>
        <div class="content">
            <h4>[<span class={% if css_issues_count %}"bad"{% else %}"good"{% endif %}>{{ css_issues_count }} site(s)</span>] with CSS issues:</h4>
            <!-- Put table here -->
            <div class="info-table">
                <table class="site-table">
                    <tr>
                        <th>Site URL</th>
                        <th>CSS Issues</th>
                        <th>Full site Report</th>
                    </tr>
                    {% for site in css_issues_sites %}
                    <tr>
                        <td>{{ site.site_url }}</td>
                        <td>{{ site.sitescandata.css_issues }}</td>
                        <td class="report-link"><a href="{% url site_css_report site.id %}">View Site Evaluation Report</a></td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if css_issues_paginator.has_previous %}
                            <a href="?page_css={{ css_issues_paginator.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ css_issues_paginator.number }} of {{ css_issues_paginator.paginator.num_pages }}.
                        </span>

                        {% if css_issues_paginator.has_next %}
                            <a href="?page_css={{ css_issues_paginator.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>

            <!--<h4>[<span class={% if ua_issues_count %}"bad"{% else %}"good"{% endif %}>{{ ua_issues_count }} site(s)</span>] with UA issues:</h4>-->
            <h4>[{{ ua_issues_count }} site(s)]:</h4>
            <!-- Put table here -->
            <div class="info-table">
                <table class="site-table">
                    <tr>
                        <th>Site URL</th>
                        <th>Full site Report</th>
                    </tr>
                    {% for site in ua_issues_sites %}
                    <tr>
                        <td>{{ site.site_url }}</td>
                        <td class="report-link"><a href="{% url site_ua_report site.id %}">View Site Evaluation Report</a></td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if ua_issues_paginator.has_previous %}
                            <a href="?page_ua={{ ua_issues_paginator.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ ua_issues_paginator.number }} of {{ ua_issues_paginator.paginator.num_pages }}.
                        </span>

                        {% if ua_issues_paginator.has_next %}
                            <a href="?page_ua={{ ua_issues_paginator.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        <!-- End content -->
        </div>
    <!-- End rightside content-->
    </div>
<!-- End right column-->
</div>
{% endblock content %}
