{% extends "base.html" %}

{% block pagetitle %}
{% endblock pagetitle %}

{% block htmlhead %}
{% endblock htmlhead %}

{% block content %}
<a href="{% url "dashboard" %}" style="border:none;"><div class="logo"></div></a>
<div class="primary-column">
    <div class="primary-content" style="margin-top:0px">
        <!-- Begin rightside content -->
        <div class="content">
            <!-- Begin content -->

            <!-- Display table with scans -->
            <div class="content-box">
                <h4>Available Scans</h4>
                <table class="data-display">
                    <tr class="table-header">
                        <th class="id">Batch</th>
                        <th>Date completed</th>
                        <th>UA issue %</th>
                        <th>CSS issue %</th>
                        <th>UA issues fixed</th>
                        <th>UA issues regressed</th>
                        <th>CSS use fixed</th>
                        <th>CSS use regressed</th>
                    </tr>
                    {% for batch in batches_data %}
                    <tr>
                        <td class="id">{{ batch.id }}</td>
                        <td><a href="{% url "batch_report" batch.id %}">{{ batch.finish_time }}</a></td>
                        <td>{{ batch.ua_issue_percent|floatformat:-2 }}</td>
                        <td>{{ batch.css_issue_percent|floatformat:-2 }}</td>
                        <td>{{ batch.ua_issues_fixed }}</td>
                        <td>{{ batch.ua_issues_regressed }}</td>
                        <td>{{ batch.css_issues_fixed }}</td>
                        <td>{{ batch.css_issues_regressed }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if paginator.has_previous %}
                        <a href="?page={{ paginator.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}.
                        </span>

                        {% if paginator.has_next %}
                        <a href="?page={{ paginator.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <!-- End content -->
        </div>
        <!-- End primary-content-->
    </div>
    <!-- End primary-column-->
</div>
{% endblock content %}
