{% extends "base.html" %}

{% block content %}
<div class="left-column">
    <!-- This div holds the logo -->
    <a href="{% url dashboard %}" style="border:none;"><div class="logo"></div></a>

    <!-- Actual leftside content -->
    <div class="left-content">

        <!-- We can easily add sections to display more scan statistics -->
        <div class="section">
            <label class="nav-label">{{ site.site_url }}</label>
            <ul class="summary">
                <!-- Site stats -->
                <li>Scanned on <span class="statistic">{{ date }}</span></li>
                <li><span class="good">{{ url_count }}</span> pages scanned from here</li>
                <li><span class="good">{{ ua_count }}</span> user agents used:</li>
                <ul>
                    {% for ua in uas %}
                    <li class="">{{ ua.ua_string }}</li>
                    {% endfor %}
                </ul>
                <br/>
                <li><span class={% if css_issues_count %}"bad"{% else %}"good"{% endif %}>{{ css_issues_count }}</span> CSS issues</li>
                <!-- <li>[MOCK] <span class="bad">No</span> UA sniffing for fennec</li> -->
            </ul>
        </div>

    </div>
</div>
<div class="right-column">
    <div class="right-content">

        <h2 class="content-title">{{ site.site_url }} Statistics</h2>
<!--          <form class="sort-by-useragent">
            <label class="filter-dropdown-label">Filter by user agents:</label>
            <select>
                <option default>Combined View</option>
                <option>Firefox / 11.0</option>
                <option>Webkit / 4.0</option>
                <option>Firefox / 11.0 (Fennec)</option>
                <option>Firefox / 11.0 (iPhone)</option>
            </select>
        </form> -->
        <div class="content">
            <!-- Put table here -->
            <div class="info-table" style="margin-top:20px;">
                <table class="site-table">
                    <tr>
                        <th>Property used</th>
                        <th>Mozilla</th>
                        <th>Webkit</th>
                        <th>no prefix</th>
                    </tr>
                    {% for prop, counts in props_data %}
                        {% if counts.0 < counts.1 %}
                            <tr class="bad">
                        {% else %}
                            <tr class="good">
                        {% endif %}
                        <td>{{ prop }}</td>
                            {% for count in counts %}
                                <td>{{ count }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if props_paginator.has_previous %}
                            <a href="?page={{ props_paginator.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ props_paginator.number }} of {{ props_paginator.paginator.num_pages }}.
                        </span>

                        {% if props_paginator.has_next %}
                            <a href="?page={{ props_paginator.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>

        <!-- End content -->
        </div>
    <!-- End rightside content-->
    </div>
<!-- End right column-->
</div>
{% endblock content %}
