{% extends "base.html" %}

{% block content %}
<div class="left-column">
    <!-- This div holds the logo -->
    <a href="{% url "dashboard" %}" style="border:none;"><div class="logo"></div></a>

    <!-- Actual leftside content -->
    <div class="left-content">

        <!-- We can easily add sections to display more scan statistics -->
        <div class="section">
            <label class="nav-label">{{ site.site_url }}</label>
            <ul class="summary">
                <!-- Site stats -->
                <li>Scanned on <span class="statistic">{{ date }}</span></li>
                <li><span class="good">{{ url_count }}</span> pages scanned from here</li>
                <li><span class="good">{{ ua_count }}</span> user agents used:</li>
                <ul>
                    {% for ua in uas %}
                    <li class="">{{ ua }}</li>
                    {% endfor %}
                </ul>
                <br/>
                <li><span class={% if css_issues_count %}"bad"{% else %}"good"{% endif %}>{{ css_issues_count }}</span> CSS issues</li>
                <!-- <li>[MOCK] <span class="bad">No</span> UA sniffing for fennec</li> -->
            </ul>
        </div>

    </div>
</div>
<div class="right-column">
    <div class="right-content">
        {% block statistics %}
        {% endblock statistics %}
    <!-- End rightside content-->
    </div>
<!-- End right column-->
</div>
{% endblock content %}
