{% extends "site_report.html" %}
{% block statistics %}
<h2 class="content-title">{{ site.site_url }} Statistics</h2>
<!--          <form class="sort-by-useragent">
    <label class="filter-dropdown-label">Filter by user agents:</label>
    <select>
        <option default>Combined View</option>
        <option>Firefox / 11.0</option>
        <option>Webkit / 4.0</option>
        <option>Firefox / 11.0 (Fennec)</option>
        <option>Firefox / 11.0 (iPhone)</option>
    </select>
</form> -->
<div class="content">
    <!-- Put table here -->
    <div class="info-table" style="margin-top:20px;">
        <table class="site-table">
            <tr>
                <th>First UA</th>
                <th>Second UA</th>
                <th>Similarity Percentage</th>
            </tr>
            {% for comparison in data %}
                <tr>
                    {% for item in comparison %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if data_paginator.has_previous %}
                    <a href="?page={{ data_paginator.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ data_paginator.number }} of {{ data_paginator.paginator.num_pages }}.
                </span>

                {% if data_paginator.has_next %}
                    <a href="?page={{ data_paginator.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>

<!-- End content -->
</div>
{% endblock statistics %}
